body{
    background-color: gray;
}

.leftSideBanner{
    width:20%;
    float:left; 
}

.rightSideBanner{
    width:20%;

    float: left;
}

.middleBanner{
    width:60%;
    float:left;
    background-color: darkorange;
}

