.rightSideBanner{
    width:20%;
    float: left;
    background-color: gray;
}

.middleBanner{
    width:60%;
    float:left;
}

.leftSideBanner{
    width:20%;
    float:left;
    background-color: gray;
}